# Private keys, vendor data from composer in case repo made public
*.json
vendor/
keys/

# Potentially sensitive files
*.xlsx
*.csv
*.ico

# Unimportant folder
test/*

# MacOS files
.DS_Store

# Random files
import_csv.php
credentials/