# Private keys, vendor data from composer in case repo made public
*.json
vendor/

# Potentially sensitive files
*.xlsx
*.csv
*.ico

# Unimportant folder
test/*

# MacOS files
.DS_Store

# Random files
hello_world.php
import_csv.php
csv_converter.php
credentials/
hello_world.php
mysqli.php