# Private keys, vendor data from composer in case repo made public
*.json
vendor/

# Potentially sensitive files
*.xlsx
*.csv
*.ico
*.png
*.jpeg
*.jPG
*.jpg
*.png

# Unimportant folder
test/

# MacOS files
.DS_Store