body {
	font-family: calibri;
}

.tblLogin {
	border: #95bee6 1px solid;
	background: #d1e8ff;
	border-radius: 4px;
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 28px;
    padding-bottom: 19px;
    padding-right: 28px;
    padding-left: 28px;
}

.table-header {
	font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.table-subheader {
	font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}

.table-header td {
	padding: 20px;
}

.table-row td {
	text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message {
	color: #FF0000;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.login-input {
	border: #CCC 1px solid;
	padding: 10px 20px;
}

.btnSubmit {
	padding: 10px 20px;
	background: #2c7ac5;
	border: #d1e8ff 1px solid;
	color: #FFF;
    width: 100%;
    
}
