/*  make category selector invisible at load */
#subcategory-select {
    display: none;
}

#subsubcategory-select {
    display: none;
}

/*  make upload form invisible at load */
#fileUploadForm {
    display: none;
}

/*  submit button after categories hidden at load */
#submit-btn {
    display: none;
}

/*  db-response form hidden at load */
#db-response-form {
    display: none;
}

/* html table of database results */
table, th, td {
    border: 1px solid #96D4D4;
}

/* spinner gif image */
#spinner {
    display: none;
}

/* class of Rows of inactive employees being displayed */
.red-row {
    background-color: hsl(0, 68%, 51%);
}

/* class of td's - censored columns for my documentation gif */
.black-background {
    background-color: #000000;
}

tr.customer-service {
    background-color: #C7E0F0;
}

tr.dispatcher {
    background-color: #F8FACF;
}

tr.expeditor {
    background-color: #C7F0E2;
}

tr.hr {
    background-color: #C7D9C3;
}

tr.messenger {
    background-color: #8ACBF7;
}

tr.office-laborer {
    background-color: #FFF6E6;
}

tr.ops-manager {
    background-color: #CEDDF5;
}

tr.processor {
    background-color: #F4FFE6;
}

tr.supervisor {
    background-color: #E9FFF5;
}

/* 