/*  make category selector invisible at load */
#subcategory-select {
    display: none;
}

/*  make upload form invisible at load */
#fileUploadForm {
    display: none;
}

/*  submit button after categories hidden at load */
#submit-btn {
    display: none;
}

/*  db-response form hidden at load */
#db-response-form {
    display: none;
}

table, th, td {
    border: 1px solid #96D4D4;
}