/*  make category selector invisible at load */
#subcategory-select {
    display: none;
}

/*  make sub-category selector invisible at load */
#subsubcategory-select {
    display: none;
}

/*  make upload form invisible at load */
#fileUploadForm {
    display: none;
}

/*  submit button after categories hidden at load */
#submit-btn {
    display: none;
}

/*  db-response form hidden at load */
#db-response-form {
    display: none;
}

/* html table of database results 
   - blue border                   */
table.dt, th.dt, td.dt {
    border: 1px solid #96D4D4;
}

/* spinner gif image */
#spinner {
    display: none;
}

/* class of Rows of inactive employees being displayed */
.red-row {
    background-color: hsl(0, 68%, 51%);
}

/* class of td's - censored columns for my documentation gif */
td.black-background {
    background-color: #000000;
}

/* table row class for customer-service role */
tr.customer-service {
    background-color: #C7E0F0;
}

/* table row class for dispatcher role */
tr.dispatcher {
    background-color: #F8FACF;
}

/* table row class for expeditor role */
tr.expeditor {
    background-color: #C7F0E2;
}

/* table row class for HR role */
tr.hr {
    background-color: #C7D9C3;
}

/* table row class for messenger role */
tr.messenger {
    background-color: #8ACBF7;
}

/* table row class for office-laborer role */
tr.office-laborer {
    background-color: #FFF6E6;
}

/* table row class for ops-manager role */
tr.ops-manager {
    background-color: #CEDDF5;
}

/* table row class for processor role */
tr.processor {
    background-color: #F4FFE6;
}

/* table row class for supervisor role */
tr.supervisor {
    background-color: #E9FFF5;
}

/* italicize words */
.italicized {
    font-style: italic;
}

/*  Space between two buttons (choose file, upload) */
.space {
    width: 40px;
    height: auto;
    display: inline-block;
}

/* Linked button label thing */
#loadFileXml {
    display: none;
}

/*  Upload button */
#upload-btn {
    display: inline-block;
}

/* a tag link to send git request to downloads.php and dl csv file */
#get-csv {
    display: none;
}

.logout-form {
    position: absolute;
    right: 40px;
    top: 40px;
}
.logout {
    position: relative;
    right: 0px;
    top: 0px;
}
